{%extends "layout/header.html"%}
{%block content%}
<div class="col-md-9">
<legend>Login</legend>
<form action="/loginuser/" method="POST" class="form-horizontal">
	{%csrf_token%}
	<div class="form-group">
		<div class="col-md-3">
		<label>Email</label>
			<input class="form-control input-sm" type="text" name="email">
		</div>
	</div>
	
		<div class="form-group">
	<div class="col-md-3">
		<label>Password</label>
			<input class="form-control input-sm" name="password" type="password">
		</div>
	</div>
	<div>
                  <input type="checkbox" name="remember_me" value="0">Remember me
              </div>
		<div class="form-group">
	<div class="col-md-3">
		 <button type="submit" class="btn">Submit</button>
	</div>
</form>
</div>
{%endblock%}